/* styles.css */
.text-container {
    background: white;
    text-align: left;
    box-sizing: border-box;
}

.text-container h2 {
    font-weight: bold;
}

.text-container p {
    margin-bottom: 50px; /* Ajusta este valor según sea necesario */
}

/* Si necesitas ajustar el alto del contenedor de imagen */
.position-relative {
    position: relative;
}

.h-70 {
    height: 70%;
}

.object-fit-cover {
    object-fit: cover;
}


.text-containerS {
    width: 100%;
    background: none; /* Asegura que no haya fondo adicional */
    padding: 10px; /* Ajusta el padding según sea necesario */
    text-align: left;
    box-sizing: border-box;
}

.text-containerS h2 {
    font-weight: bold;
    margin-bottom: 10px; /* Margen inferior para el h2 */
}

.text-containerS p {
    margin-bottom: 30px; /* Margen inferior para el párrafo */
}

/* Estilo base para las tarjetas */
.card {
    border: 2px solid transparent; /* Borde transparente inicialmente */
    transition: transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}

.card-img-top {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    max-width: 300px; /* Limita el ancho máximo de la imagen */
    max-height: 300px; /* Limita la altura máxima de la imagen */
    object-fit: cover; /* Asegura que la imagen cubra el contenedor sin distorsionarse */
    margin: 0 auto; /* Centra la imagen dentro del contenedor */
}

.card-body {
    text-align: center; /* Centra el contenido dentro de la tarjeta */
}

.card-title {
    font-weight: bold; /* Asegura que el título esté en negrita */
}

.card-text {
    font-size: 1rem; /* Tamaño del texto */
}

/* Efecto de latido al pasar el cursor */
.card:hover {
    transform: scale(1.05); /* Aumenta el tamaño de la tarjeta */
    box-shadow: 0 8px 16px rgba(214, 141, 30, 0.651); /* Sombra adicional igual en los cuatro lados */
}

