/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

/* Estilos para el menú de navegación */
#navbar {
    background-color: #ffffff; /* Fondo blanco para el menú de navegación */
    transition: top 0.3s; /* Transición suave para el menú */
}

/* Estilos para la imagen de inicio */
#inicio {
    position: relative; /* Permite que los elementos hijos se posicionen de manera absoluta */
}

.image-container {
    position: relative; /* Permite posicionar elementos hijos absolutamente */
}

.inicio-img {
    display: block;
    width: 100vw; /* Ajusta el ancho de la imagen de inicio al ancho de la ventana */
    height: 60vh; /* Ajusta la altura de la imagen de inicio */
    min-height: 538px;
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor sin deformarse */
    margin: 0;
    margin-top: 55px; /* Ajusta el margen superior para evitar que la imagen se solape con el menú */
}

.overlay {
    position: absolute; /* Posiciona la imagen superpuesta absolutamente dentro del contenedor */
    top: 50%; /* Centra verticalmente la imagen superpuesta */
    right: 45%; /* Alinea la imagen superpuesta al 30% desde la derecha de la pantalla */
    transform: translate(-150%, -60%); /* Ajusta la posición para centrar verticalmente y desplazar 30% horizontalmente hacia la izquierda */
    width: 305px; /* Ancho fijo de la imagen superpuesta */
    height: 291px; /* Altura fija de la imagen superpuesta */
    z-index: 2; /* Asegura que la imagen superpuesta esté por encima de otros elementos */
}

/* Media Queries para pantallas más pequeñas */
@media (max-width: 1400px) {
    .overlay {
        right: 35%; /* Ajusta la alineación horizontal al 20% desde la derecha */
        transform: translate(-120%, -60%); /* Ajusta el desplazamiento horizontal */
    }
}

@media (max-width: 992px) {
    .overlay {
        right: 10%; /* Ajusta la alineación horizontal al 10% desde la derecha */
        transform: translate(-90%, -60%); /* Ajusta el desplazamiento horizontal */
    }
}

@media (max-width: 768px) {
    .overlay {
        right: 0;
        left: 50%; /* Alinea la imagen al centro horizontalmente */
        transform: translate(-50%, -60%); /* Centra la imagen completamente */
    }
}

.overlay-img {
    width: 100%; /* Ajusta el ancho de la imagen superpuesta al ancho del contenedor .overlay */
    height: auto; /* Mantiene las proporciones de la imagen superpuesta */
}

.text-container {
    text-align: left; /* Alinea el texto a la izquierda */
    padding: 20px;
    box-sizing: border-box;
    background: #ffffff; /* Fondo blanco para el texto */
}

/* Estilos para el h1 y p dentro de text-container */
.text-container h1 {
    margin: 0; /* Elimina márgenes adicionales */
    margin-top: 50px;
    margin-bottom: 10px;
    font-weight: 600; /* Aplica peso 600 a los encabezados h1 */
    font-size: 2.6rem; /* Ajusta el tamaño del texto de h1 (2.5rem es un tamaño grande, ajústalo según tus necesidades) */
}

.text-container p {
    margin: 0; /* Elimina márgenes adicionales */
    font-weight: 400; /* Aplicar peso Regular a los párrafos */
    font-size: 1.5rem; /* Ajusta el tamaño del texto de los párrafos (1rem es un tamaño estándar, ajústalo según tus necesidades) */
    margin-bottom: 90px;
}


/*----------------------------------------------------------------*/

/* Estilo para la sección de servicios */
#servicios {
    background-color: rgb(231, 237, 243); /* Color de fondo de la sección de servicios */
    margin: 0;
}

/* Estilo para el contenedor de texto en la sección de servicios */
#servicios .text-container {
    background-color: rgb(231, 237, 243); /* Fondo para el contenedor de texto */
    
}

/* Estilo para h2 y p en la sección de servicios */
#servicios .text-container h2 {
    margin: 0; /* Elimina márgenes adicionales */
    margin-top: 50px;
    margin-bottom: 10px;
    font-weight: 600; /* Aplica peso 600 a los encabezados h2 */
    font-size: 2.6rem; /* Ajusta el tamaño del texto de h2 para que coincida con h1 */
}

#servicios .text-container p {
    margin: 0; /* Elimina márgenes adicionales */
    font-weight: 400; /* Aplicar peso Regular a los párrafos */
    font-size: 1.5rem; /* Ajusta el tamaño del texto de los párrafos */
    margin-bottom: 30px;
    margin-top: 10px;
    
}

/* Estilo para las tarjetas en la sección de servicios */
.card {
    border: none; /* Elimina el borde predeterminado de la tarjeta */
    display: flex;
    flex-direction: column; /* Permite que el contenido se ajuste verticalmente */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave para el zoom y la sombra */
    position: relative; /* Permite posicionar el pseudo-elemento ::before */
    background-color: rgb(231, 237, 243); /* Color de fondo de las tarjetas */
}

/* Estilo para las imágenes dentro de las tarjetas */
.card-img-top {
    width: 100%; /* Ajusta el ancho de la imagen al ancho del contenedor de la tarjeta */
    height: auto; /* Ajusta la altura de la imagen automáticamente */
    object-fit: cover; /* Asegura que la imagen cubra el contenedor sin distorsionarse */
}

/* Estilo para el contenido dentro de las tarjetas */
.card-body {
    position: relative; /* Asegura que el contenido se mantenga sobre el overlay */
    z-index: 1; /* Coloca el contenido por encima del overlay */
}

/* Efecto de hover para las tarjetas */
.card:hover {
    transform: scale(1.05); /* Aumenta el tamaño de la tarjeta al pasar el ratón */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra más intensa */
}

/* Estilo para las tarjetas tamaño */
.custom-card {
    max-width: 309px; /* Ancho máximo de la tarjeta */
    max-height: 309px; /* Alto máximo de la tarjeta */
}

.custom-card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Ajusta la imagen para que cubra el contenedor sin distorsionarse */
}

/*--------------------------------------------------*/

/* Estilo para la sección de actualizado */
#actualizado {
    background-color: #323333; /* Color de fondo de la sección actualizado */
}

#actualizado h2 {
    font-size: 2.6rem; /* Tamaño de fuente para el h2 */
    font-weight: 600; /* Peso de fuente para el h2 */
    margin-bottom: 20px; /* Margen inferior para separar del párrafo */
    color: #ffffff; /* Color de fuente blanco para el párrafo */
}

#actualizado p {
    font-size: 1.3rem; /* Tamaño de fuente para el párrafo */
    font-weight: 400; /* Peso de fuente para el párrafo */
    margin-bottom: 20px; /* Margen inferior para separar del video */
    color: #ffffff; /* Color de fuente blanco para el párrafo */
}

#actualizado .video-container {
    text-align: right; /* Alinea el contenedor del video a la derecha */
}

#actualizado video {
    width: 100%; /* Asegura que el video sea responsivo */
    max-height: 500px; /* Mantiene las proporciones del video */
}
