/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}


/*---------------------------------------------------------*/

/* Estilos para el menú de navegación */
#navbar {
    background-color: #ffffff; /* Fondo blanco para el menú de navegación */
    transition: top 0.3s; /* Transición suave para el menú */
}




/*-----------------------------------------------------------*/

/* Estilos para la sección de inicio */
#inicio {
    position: relative;
    background-color: #ffffff; /* Fondo blanco para la sección de inicio */
    margin-bottom: 50px;
}

.image-container {
    position: relative;
}

.inicio-img {
    display: block;
    width: 100vw;
    height: 538px;
    object-fit: cover;
    margin: 0;
    margin-top: 55px;
}

.text-container {
    text-align: left; /* Alinea el texto a la izquierda */
    padding: 20px;
    box-sizing: border-box;
    background: #ffffff; /* Fondo blanco para el texto */
}

/* Estilos para el h1 y p dentro de text-container */
.text-container h1 {
    margin: 0; /* Elimina márgenes adicionales */
    margin-top: 50px;
    margin-bottom: 10px ;
    font-weight: 600; /* Aplica peso 600 a los encabezados h1 */
    font-size: 2.6rem; /* Ajusta el tamaño del texto de h1 (2.5rem es un tamaño grande, ajústalo según tus necesidades) */
}

.text-container p {
    margin: 0; /* Elimina márgenes adicionales */
    font-weight: 400; /* Aplicar peso Regular a los párrafos */
    font-size: 1.3rem; /* Ajusta el tamaño del texto de los párrafos (1rem es un tamaño estándar, ajústalo según tus necesidades) */
}

